
/********  CLEAR SCREEN  ***********/
body {
    margin: 0;
    padding: 0;
    font-family: 'audiowide', 'quicksand', cursive;
}


/********  HEADER - LOGO  ***********/
header {
    padding: 10px 50px;
    float: left;
    position: fixed;
    z-index: 199;
}

header img {
    width: 150px;
}



/********  NAVBAR  ***********/
/********  DESKTOP NAVBAR  ***********/
nav {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav.black {
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    height: 80px;
    padding: 0px 100px;
}

nav ul {
    list-style: none;
    float: right;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 50px;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s;
}

nav.black ul li a {
    color: #fff;
}

nav ul li a:focus {
    outline: none;
}

.active {
    /*background: rgb(86, 119, 139);*/
    background: #FFBF00;
    color: #fff;
    border-radius: 25px 0px;
    border: 2px solid white;
}

nav ul li a:hover {
    /*background: rgb(86, 119, 139);*/
    background: #FFBF00;
    color: #fff;
    border-radius: 25px 0px;
    transition: .1s;
    border: 2px solid white;
}

.burger {
    display: none;
}

@media screen and (max-width: 1300px) {

    nav {
        padding: 0px 25px;
    }

    nav.black {
        padding: 0px 25px;
    }
}
/********  DESKTOP NAVBAR END  ***********/



/********  MOBILE NAVBAR  ***********/
@media screen and (max-width: 880px) {

    header {
        background: black;
        width: 100%;
    }

    .active {
        border: none;
        border-radius: 0;
        background: none;
    }

    nav {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    nav.black {
        padding: 0;
    }

    nav ul {
        margin-top: 85px;
        display: block;
        background: black;
        text-align: right;
        height: 100vh;
        width: 100%;
    }

    nav ul li {
        padding: 25px;
    }

    nav ul li a {
        font-family: 'Livvic', 'quicksand', cursive;
        letter-spacing: 5px;
    }

    nav ul li a.active {
        background: 0;
    }

    nav ul li a:hover {
        background: none;
        border-radius: 0;
        border: none;
        margin-right: 20px;
        color: #ffbf00;
    }

    .links {
        position: fixed;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .links li {
        opacity: 0;
    }

    .links li a {
        transform: translateX(-20px);
        transition: all 300ms ease;
    }


    /********  BURGER DESIGN  ***********/
    .burger {
        display: block;
    }

    .nav-btn {
        position: fixed;
        right: 40px;
        top: 25px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #ffbf00;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
    /********  BURGER DESIGN END  ***********/

    /********  ANIMATED NAVIGATION MENU  **********/
    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(-250px);  /* 'a' menu links slide into view */
        }
        to {
            opacity: 1;
            transform: translateX(0px);  /* location for 'a' menu links to stop sliding */
        }
    }
    /********  ANIMATED NAVIGATION MENU END  **********/

    /********  BURGER ANIMATION EFFECT  **********/
    #nav:checked + .nav-btn {
        transform: rotate(45deg);
    }

    #nav:checked + .nav-btn i {
        transition: transform 0.5s ease;
    }

    #nav:checked + .nav-btn i:nth-child(1) {
        transform: translateY(6px) rotate(180deg);
        background: white;
    }

    #nav:checked + .nav-btn:hover i:nth-child(1) {
        background: #ffbf00;
    }

    #nav:checked + .nav-btn i:nth-child(2) {
        opacity: 0;
    }

    #nav:checked + .nav-btn i:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
        background: white;
    }

    #nav:checked + .nav-btn:hover i:nth-child(3) {
        background: #ffbf00;
    }

    #nav:checked ~ .nav-wrapper {
        z-index: 9990;
        opacity: 1;
    }

    #nav:checked ~ .nav-wrapper ul li a {
        opacity: 1;
        transform: translateX(0);
    }

    .hidden {
        display: none;
    }

    #nav:not(checked) + .nav-btn i {
        transition: transform 0.5s ease;
    }

    #nav:not(checked) + .nav-btn i:nth-child(1) {
        transform: translateY(-2px) rotate(-180px);
        margin-top: 16px;
    }

    #nav:not(checked) + .nav-btn i:nth-child(2) {
        transform: translateY(0px) rotate(-180deg);
        opacity: 1;
    }

    #nav:not(checked) + .nav-btn i:nth-child(3) {
        transform: translateY(0px) rotate(-180deg);  
    }
    /********  BURGER ANIMATION EFFECT END  **********/
}

@media screen and (max-height: 500px) {

    nav ul li {
        padding: 10px 30px;
        text-align: center;
    }

    nav ul li:hover a {
        margin: 0;
    }
}

@media screen and (max-height: 400px) {

    nav ul li {
        padding: 0px;
    }
}
/********  MOBILE NAVBAR END  ***********/
/********  NAVBAR END  ***********/




/********  UNIVERSAL PAGE HEADERS  ***********/
section h1 {
    font-size: 3rem;
}


/********  HOME PAGE  ***********/
#home {
    background: 
        linear-gradient(
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .7)
        ), 
        url(/images/Coding1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
}

#home #homeLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#homeLogo img {
    padding: 50px;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {

    #homeLogo img {
        padding: 10px;
    }
}
/********  HOME PAGE END  ***********/



/********  RESUME LINK BUTTON ***********/
.resume {
    display: flex;
    justify-content: center;
    margin-top: -100px;
    padding-bottom: 30px;
}

.resumeBtn {
    cursor: pointer;
    background: #FFBF00;
    padding: 0px 25px;
    line-height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    border: 3px solid white;
    white-space: nowrap; 
}

.resumeBtn:hover {
    border: 3px solid white;
}

.resumeBtn a {
    text-decoration: none;
    color: white;
}

.resumeBtn:hover a {
    font-size: 17px;
}

.resumeBtn span {
    font-family: 'audiowide', 'quicksand', cursive;
    position: relative;
    z-index: 1;
}

.resumeBtn i {
    margin-left: 12px;
}

.resumeBtn::before, .resumeBtn::after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
}

.resumeBtn::before {
    transform: translate3d(-100%, 0, 0);
    background-color: rgba(22, 65, 129, 0.5);
    transition: all 150ms ease-in-out;
}

.resumeBtn::after {
    background-color: black;
    transform: translate3d(101%, 0, 0);
    transition: all 150ms 150ms ease-in-out;
}

.resumeBtn:hover::before {
    transform: translate3d(0,0,0);
}

.resumeBtn:hover::after {
    transform: translate3d(0,0,0);
}
/********  RESUME LINK BUTTON END  ***********/




/********  ABOUT ME PAGE  ***********/
#about {
    display: grid;
    background:
        linear-gradient(
            rgba(0, 0, 0, .8),
            rgba(0, 0, 0, .7)
        ),
        url(/images/aboutMe/background/image7.jpg) no-repeat center center/cover;
    height: 100%;
    color: white;
}


@media screen and (min-width: 1300px) and (min-height: 850px) {
    
    #about {
        height: 100vh;
    }
}

@media screen and (max-width: 800px) {

    #about {
        height: 100vh;
    }
}

@media screen and (max-width: 736px) {

    #about {
        height: 100%;
    }
}

#about h1 {
    padding-top: 50px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    justify-self: center;
    font-weight: lighter;
    color: #FFBF00;
}

#about h1::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 15px;
    border-bottom: 5px solid white;
}

#aboutContent {
    justify-content: center;
    display: flex;
}

#aboutImage {
    margin-bottom: 50px;
    padding: 0px 25px 25px 25px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#aboutImage img {
    width: 100%;
    height: auto;
}

#aboutText {
    display: flex;
    width: 55%;
    padding: 0px 25px 25px 25px;
}

#aboutText p {
    font-size: 15px;
    word-spacing: 2px;
    font-weight: 100;
    font-family: 'quicksand', cursive;
}

#aboutText p .name {
    color: rgb(86, 119, 139);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

/*********  ABOUT ME ~ RESPONSIVE  ************/
@media screen and (max-width: 850px) {

    #aboutText p {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {

    #aboutContent {
        display: block;
    }

    #aboutImage {
        margin-bottom: 0;
    }

    #aboutText {
        width: 100%;
    }
}




#aboutText p .html {
    color: rgb(255, 81, 0);
}

#aboutText p .css {
    color: rgb(0, 89, 255);
}

#aboutText p .javascript {
    color: rgb(252, 207, 5);
}

#aboutText p .java {
    color: red;
}

#aboutText p .my {
    color: rgb(46, 147, 187);
}

#aboutText p .sql {
    color: orange;
}

#aboutText p .mongo {
    color: rgb(45, 131, 66);
}

#aboutText p .email {
    color: rgb(86, 119, 139);
    text-decoration: underline;
}

#aboutText p .dontForget {
    font-style: italic;
    opacity: .5;
}

#aboutText p .quote {
    color: grey;
}


/********  ABOUT ME PAGE END  ***********/





/********  PORTFOLIO PAGE  ***********/
#portfolio {
    display: grid;
    padding: 0 150px !important;
    background: 
    linear-gradient(
            rgba(128, 130, 131, 0.8),
            rgba(128, 130, 131, 0.8)
        ),
        url(/images/coding2.jpg);
    background-size: cover;
    background-position: center;
}

#portfolio h1 {
    padding-top: 50px;
    color: #FFBF00;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    justify-self: center;
    font-weight: lighter;
}

#portfolio h1::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 15px;
    border-bottom: 5px solid white;
}

@media screen and (max-width: 1280px) {
    
    #portfolio {
        padding: 0 50px !important;
    }
}

@media screen and (max-width: 800px) {

    #portfolio {
        padding: 0 15px !important;
    }
}

/* Box Model */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basic */
@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }
}


/* Box */
.thumbnails {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: 'quicksand', cursive;
}

.thumbnails .box {
    margin: 0 1em 2em 1em;
    width: 30%;
}

@media screen and (max-width: 1280px) {

    .thumbnails .box {
        width: 45%;
    }
}

@media screen and (max-width: 736px) {

    .thumbnails .box {
        width: 100%;
    }
}

.box {
    border-radius: 4px;
    margin-bottom: 2em;
    background: #2c2c32;
    text-align: center;
    border: 1px solid black;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box .image.fit {
    margin: 0;
}

.box .image img {
    border-radius: 4px 4px 0 0;
}

.box .inner {
    padding: 1.5em;
    width: 100% !important;
    border-top: 5px solid black;
}

.inner h3 {
    min-height: 75px;
}

.inner p {
    min-height: 75px;
}

@media screen and (max-width: 480px) {

    .box .inner {
        padding: 1em;
    }
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

.box h3 {
    color: white;
    font-weight: 100;
}

.box p {
    color: grey;
    font-size: 15px;
}


/* Image */
.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}

#modalImage {
    display: none;
}

.image img {
    border-radius: 4px;
    display: block;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background: rgba(92, 153, 194, 0.3);
    border-radius: 4px;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.button:hover {
    background-color: rgba(92, 153, 194, 1);
}

.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

.button.small {
    font-size: 0.8em;
}

.button.big {
    font-size: 1.35em;
}

.button:disabled {
    background-color: rgba(255, 255, 255, 0.75) !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #202024 !important;
    cursor: default;
    opacity: 0.25;
}

.button.style2 {
    background-color: #7f92cf;
}

.button.style2:hover {
    background-color: #92a2d6;
}

.button.style2:active {
    background-color: #6c82c8;
}

.button.style3 {
    background-color: #9d7ed0;
}

.button.style3:hover {
    background-color: #ab91d7;
}

.button.style3:active {
    background-color: #8f6bc9;
}

@media screen and (max-width: 480px) {

    .button {
        padding: 0;
    }
}

#portfolio {
    padding: 4em 0 2em 0;
}

@media screen and (max-width: 736px) {

    #portfolio {
        padding: 3em 0 1em 0;
    }

}

#porfolio .inner {
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
}

    @media screen and (max-width: 480px) {

        #portfolio .inner {
            width: 95%;
        }

    }


/********  PORTFOLIO PAGE ~ END  ***********/



/********  CONTACT PAGE  ***********/
#contact {
    background:
        linear-gradient(
            rgba(22, 65, 129, 0.3),
            rgba(22, 65, 129, 0.3)
        ), 
        url(/images/keyboard.jpg) no-repeat center center/cover;
        position: relative;
}

#contact {
    text-transform: uppercase;
    display: grid;
    padding: 0px 15px;
    box-sizing: border-box;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
}

#contact h1 {
    padding-top: 50px;
    color: #FFBF00;
    letter-spacing: 5px;
    font-weight: lighter;
    grid-column: 6/8;
    grid-row: 1;
    justify-items: center;
}

#contact h1::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 15px;
    border-bottom: 5px solid white;
}


/********  CONTACT PAGE ~ CONTACT FORM  ***********/
#contact .contactForm {
    margin-top: -100px;
    padding: 0;
    grid-column: 1/7;
    grid-row: 2;
    justify-self: stretch;
    line-height: 1.6;
    font-family: 'audiowide', 'quicksand', cursive;
    padding-left: 50px;
    padding-right: 25px;
}

.contactForm h3 {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
}

.contactForm form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.contactForm form input, .contactForm form textarea {
    width: 95%;
    padding: 1em;
    color: white;
    background: black;
    border: black;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, .3);
}

.contactForm form button {
    float: right;
    background-color: black;
    margin-right: 50px;
}

.contactForm form button:hover {
    font-size: 17px;
}

.contactForm form label input::placeholder, .contactForm form label textarea::placeholder {
    font-family: 'Livvic', sans-serif;
    color: white;
}

.contactForm form label input:focus, .contactForm form label textarea:focus {
    font-family: 'Livvic', sans-serif;
    color: white;
}

@media screen and (max-width: 500px) {

    #contact .contactForm {
        clear: both;
        margin: 0;
        padding: 0;
        grid-column: 1/13;
        margin-top: -175px;
        padding: 0 10px;
    }

    .contactForm form input, .contactForm form textarea {
        width: 100%;
    }

    .contactForm form button {
        margin: 0;
    }
}


/********  CONTACT FORM ~ SUBMIT BUTTON SHINEY ANIMATION  ***********/
.contactForm .submit {
    cursor: pointer;
    font-family: 'audiowide', 'quicksand', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0.75em 3em;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    font-size: 15px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.contactForm .submit::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.contactForm .submit:hover::before {
    transform: skewX(-45deg) translateX(15.5em);
    transition: all .7s ease-in-out;
}
/********  CONTACT FORM ~ SUBMIT BUTTON SHINEY ANIMATION END  ***********/
/********  CONTACT PAGE ~ CONTACT FORM END  ***********/


/********  CONTACT PAGE ~ LOCATE ME W/ GOOGLE MAPS  ***********/
.locateMe {
    margin-top: -100px;
    padding: 0;
    grid-column: 7/13;
    grid-row: 2;
    justify-self: stretch;
    padding-right: 50px;
    padding-left: 25px;
}

.locateMe h3 {
    padding: 4px;
    color: white;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

#map {
    height: 319px;
}

@media screen and (max-width: 500px) {

    .locateMe {
        clear: both;
        margin: 0;
        padding: 0 10px;
        margin-top: -50px;
        grid-column: 1/13;
        grid-row: 3;
        padding-bottom: 50px;
    }
}
/********  CONTACT PAGE ~ LOCATE ME W/ GOOGLE MAPS END  ***********/
/********  CONTACT PAGE END  ***********/





/********  FOOTER  ***********/
footer {
    margin: 0;
    padding: 0;
    color: white;
    background: rgba(52, 108, 143, 0.3);
    display: grid;
    /* grid-template-columns: repeat(24, 1fr); */
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    z-index: 299;
}

.copyWrite {
    padding: 0;
    font: 15px 'quicksand', sans-serif;
    grid-column: 1/25;
    grid-row: 2;
    display: grid;
    align-items: center;
    grid-gap: 5px;
}

.copyWrite span {
    grid-column: 1/12;
    justify-self: end;
    color: black;
}

.copyWrite p {
    grid-column: 13/25;
    justify-self: start;
}

.copyWrite p a {
    text-decoration: none;
    color: orangered;
}


/********  FOOTER ~ SOCIAL MEDIA LINKS  ***********/
.socialMedia {
    display: grid;
    padding-top: 15px;
    grid-column: 1/25;
    grid-row: 1;
}

.socialMedia ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 15px;
}

.socialMedia ul li {
    list-style: none;
    cursor: pointer;
}

.socialMedia ul li a {
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    display: block;
    text-align: center;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .3s;
}

.socialMedia ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.socialMedia ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .3s;
}

.socialMedia ul li:nth-child(1) a:hover .fab {
    color: #007bb5;
}
.socialMedia ul li:nth-child(2) a:hover .fab {
    color: red;
}
.socialMedia ul li:nth-child(3) a:hover .fab {
    color: #3b5998;
}
.socialMedia ul li:nth-child(4) a:hover .fab {
    color: #1da1f2;
}
.socialMedia ul li:nth-child(5) a:hover .fab {
    color: #db4437;
}
.socialMedia ul li:nth-child(6) a:hover .fab {
    color: #02b875;
}
/********  FOOTER ~ SOCIAL MEDIA LINKS END  ***********/
/********  FOOTER END  ***********/
/********  CSS END  ***********/

