
/********  CLEAR SCREEN  ***********/
body {
    margin: 0;
    padding: 0;
    font-family: 'quicksand', sans-serif;
}


/********  HEADER - LOGO  ***********/
header {
    padding: 22px 20px;
    height: 50px;
    float: left;
    font-size: 25px;
    transition: .3s;
    position: fixed;
    color: black;
}

header.black {
    color: #fff;
    z-index: 1;
}



/********  NAVBAR  ***********/
nav {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav.black {
    background: rgba(0, 0, 0, 0.8);
    height: 70px;
    padding: 10px 100px;
}

nav.black {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 50px;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav.black ul li a {
    color: #fff;
}

nav ul li a:focus {
    outline: none;
}

.active {
    background: red;
    color: #fff;
    border-radius: 25px 0px;
}

nav ul li a:hover {
    background: red;
    color: #fff;
    border-radius: 25px 0px;
    transition: .5s;
}




/********  BACKGROUND IMAGE  ***********/
section#home {
    width: 100%;
    height: 100vh;
    background: url(/images/Coding1.jpg);
    background-size: cover;
    background-position: center;
}

section#home h1 {
    color: red;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

section#about {
    background: url(/images/mountainsailing.jpg) no-repeat center center/cover;
}

section#portfolio {
    background: url(/images/coding3.jpg) no-repeat center center/cover;
    color: white;
}

section#contact {
    background: url(/images/keyboard.jpg) no-repeat center center/cover;
    color: red;
}






/********  CONTACT PAGE  ***********/
#contact {
    text-transform: uppercase;
    display: grid;
    padding: 10px;
    box-sizing: border-box;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
    justify-items: center;
    align-items: start;
    overflow: auto;
}

#contact h1 {
    color: white;
    letter-spacing: 5px;
    grid-column: 6/8;
    justify-items: center;
}


/********  CONTACT PAGE ~ CONTACT FORM  ***********/
#contact .contactForm {
    grid-column: 1/6;
    justify-self: stretch;
    line-height: 1.6;
    font-family: 'quicksand', sans-serif;
}

.contactForm p {
    color: white;
}

.contactForm form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.contactForm form input, .contactForm form textarea {
    width: 95%;
    padding: 1em;
    background: red;
    border: red;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, .3);
}

.contactForm form button {
    float: right;
    background-color: rgb(32, 28, 28);
}

.contactForm form label input::placeholder, .contactForm form label textarea::placeholder {
    font-family: 'quicksand', sans-serif;
    color: white;
}

.contactForm form label input:focus, .contactForm form label textarea:focus {
    font-family: 'quicksand', sans-serif;
    color: white;
}


/********  CONTACT FORM ~ SUBMIT BUTTON SHINEY ANIMATION  ***********/
.contactForm .submit {
    cursor: pointer;
    font-family: 'quicksand', sans-serif;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
    padding: 0.75em 3em;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    font-size: 15px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.contactForm .submit::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.contactForm .submit:hover{
    background-color: red; 
}

.contactForm .submit:hover::before {
    transform: skewX(-45deg) translateX(15.5em);
    transition: all .5s ease-in-out;
}


/********  CONTACT PAGE ~ LOCATE ME W/ GOOGLE MAPS  ***********/
.locateMe {
    grid-column: 7/13;
    justify-self: stretch;
}

.locateMe p {
    padding: 5px;
    color: white;
}

#map {
    height: 316px;
}


/********  CONTACT PAGE ~ RESUME LINK BUTTON ***********/
.resume {
    margin: 0;
    grid-column: 6/8;
    grid-row: 6;
}

.resumeBtn {
    cursor: pointer;
    color: white;
    background: rgb(184, 184, 184);
    padding: 0px 50px;
    line-height: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    border: 3px solid black;
}

.resumeBtn span {
    font-family: 'quicksand', sans-serif;
    position: relative;
    z-index: 100;
}

.resumeBtn::before, .resumeBtn::after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    border: 1px solid black;
}

.resumeBtn::before {
    transform: translate3d(-100%, 0, 0);
    background-color: white;
    transition: all 300ms ease-in-out;
}

.resumeBtn::after {
    background-color: rgb(235, 162, 162);
    transform: translate3d(100%, 0, 0);
    transition: all 300ms 300ms ease-in-out;
}

.resumeBtn:hover::before {
    transform: translate3d(0,0,0);
}

.resumeBtn:hover::after {
    transform: translate3d(0,0,0);
}





/********  FOOTER  ***********/
footer {
    margin: 0;
    padding: 10px;
    color: white;
    background: grey;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.copyWrite {
    padding: 20px;
    font: 15px 'quicksand', sans-serif;
    grid-column: 1/25;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
}

.copyWrite span {
    grid-column: 1/13;
    justify-self: end;
    color: black;
}

.copyWrite p {
    grid-column: 13/24;
    justify-self: start;
}


/********  FOOTER ~ SOCIAL MEDIA LINKS  ***********/
.socialMedia {
    margin: 0;
    grid-column: 1/25;
    grid-row: 1;
    justify-self: center;
    align-items: center;
}

.socialMedia ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    grid-gap: 15px;
}

.socialMedia ul li {
    list-style: none;
}

.socialMedia ul li a {
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    display: block;
    text-align: center;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .3s;
}

.socialMedia ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.socialMedia ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .3s;
}

.socialMedia ul li:nth-child(1) a:hover .fab {
    color: #007bb5;
}
.socialMedia ul li:nth-child(2) a:hover .fab {
    color: red;
}
.socialMedia ul li:nth-child(3) a:hover .fab {
    color: #3b5998;
}
.socialMedia ul li:nth-child(4) a:hover .fab {
    color: #1da1f2;
}
.socialMedia ul li:nth-child(5) a:hover .fab {
    color: #db4437;
}
.socialMedia ul li:nth-child(6) a:hover .fab {
    color: #02b875;
}





/********  CONTENT  ***********/
.content {
    margin-top: 50px;
}

.content p {
    width: 900px;
    margin: 50px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}